@model ConstructionPlanning.WebApplication.Models.Resource.ResourceViewModel

@{
    ViewData["Title"] = "Удаление ресурса";
}

<h1>Удаление ресурса</h1>
<h3>Вы действительно хотите удалить данный ресурс?</h3>
<h4>Ресурс</h4>
<hr />
<div class="col-md-8">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AvaliableAmount)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.AvaliableAmount)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
    </dl>
    
    <div class="row">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary float-left w-25">Назад</a>
        </div>
        <div class="col">
            <form asp-action="Delete">
                <input type="submit" value="Удалить" class="btn btn-danger float-right w-25" />
            </form>
        </div>
    </div>

</div>
