@model ConstructionPlanning.WebApplication.Models.Resource.ResourceViewModel

@{
    ViewData["Title"] = "Подробная информация о ресурсе";
}

<h1>Подробная информация о ресурсе</h1>
<h4>Ресурс</h4>
<hr />
<div class="col-md-8">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AvaliableAmount)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.AvaliableAmount)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col">
        <a asp-action="Index" class="btn btn-secondary float-left">Назад</a> &nbsp;|
        @Html.ActionLink("Получить список поставок", "GetDeliveriesByResourceId", "Delivery", new { resourceId = Model.Id }, new { @class="btn btn-primary" }) |
        @Html.ActionLink("Получить список продаж", "GetSalesByResourceId", "Sale", new { resourceId = Model.Id }, new { @class="btn btn-primary" })
    </div>
</div>
