@model ConstructionPlanning.WebApplication.Models.ConstructionObject.ConstructionObjectViewModel

@{
    ViewData["Title"] = "Удаление строительного объекта";
}

<h1>Удаление строительного объекта</h1>
<h3>Вы действительно хотите удалить объект?</h3>
<h4>Строительный объект</h4>
<hr />
<div class="col-md-8">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.ProjectName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    
    <div class="row">
        <div class="col">
            <a href="@Model.ReturnUrl" class="btn btn-secondary float-left w-25">Назад</a>
        </div>
        <div class="col">
            <form asp-action="Delete">
                <input asp-for="ReturnUrl" hidden />
                <input type="submit" value="Удалить" class="btn btn-danger float-right w-25" />
            </form>
        </div>
    </div>

</div>
