@model ConstructionPlanning.WebApplication.Models.Sale.SaleViewModel

@{
    ViewData["Title"] = "Удаление продажи";
}

<h1>Удаление продажи</h1>
<h3>Вы действительно хотите удалить данную продажу?</h3>
<h4>Продажа</h4>
<hr />
<div class="col-md-8">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ResourceName)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.ResourceName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    <div class="row">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary float-left w-25">Назад</a>
        </div>
        <div class="col">
            <form asp-action="Delete">
                <input type="submit" value="Удалить" class="btn btn-danger float-right w-25" />
            </form>
        </div>
    </div>
    
</div>
