@model ConstructionPlanning.WebApplication.Models.Sale.SaleViewModel

@{
    ViewData["Title"] = "Подробная информация о продаже";
}

<h1>Подробная информация о продаже</h1>
<h4>Продажа</h4>
<hr />
<div class="col-md-8">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ResourceName)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.ResourceName)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.UnitCost)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
    <div class="row">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary float-left">Назад</a>
        </div>
    </div>
</div>
