@using ConstructionPlanning.WebApplication.Models.Sale
@model ConstructionPlanning.WebApplication.Models.Sale.SaleByResourceViewModel

@{
    ViewData["Title"] = "Список продаж";
}

<h1>Список продаж по ресурсу "@Model.ResourceName"</h1>

<p>
    @Html.ActionLink("Назад", "Details", "Resource", new { id = Model.ResourceId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelForDisplayingNames.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelForDisplayingNames.ResourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelForDisplayingNames.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelForDisplayingNames.UnitCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelForDisplayingNames.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelForDisplayingNames.TotalCost)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sales) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="GetSalesByResourceId"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="GetSalesByResourceId"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
