@model ConstructionPlanning.WebApplication.Models.Project.ProjectViewModel

@{
    ViewData["Title"] = "Удаление проекта";
}

<h1>Удаление проекта</h1>
<h3>Вы действительно хотите удалить данный проект?</h3>
<h4>Проект</h4>
<hr />
<div class="col-md-8">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateOfCreate)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.DateOfCreate)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AllocatedAmount)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.AllocatedAmount)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-8 bg-light">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
    </dl>
    
    <div class="row">
        <div class="col">
            <a asp-action="Index" class="btn btn-secondary float-left w-25">Назад</a>
        </div>
        <div class="col">
            <form asp-action="Delete">
                <input type="submit" value="Удалить" class="btn btn-danger float-right w-25" />
            </form>
        </div>
    </div>

</div>
